@charset "UTF-8";
.process-log .process-log__row--process td, .process-log .process-log__row--logs td { border-bottom: 1px solid #1A237E; }

.process-log .process-log__item { border-bottom: 1px solid #efefef; }

.process-log thead th { border-color: #1A237E; }

.process-log thead tr:nth-child(1) th { background: white; position: -webkit-sticky; position: sticky; top: 30px; z-index: 10; }

.process-log .process-log__row--process.is-open td { border-bottom: none; }

.process-log .process-log__row--process .toggle { cursor: pointer; }

.process-log .process-log__row--logs td { padding-top: 0; }

.process-log .process-log__process-id:before { content: "P#"; }

.process-log .process-log__logs { margin: 10px 0 10px 10px; padding: 0; }

.process-log .process-log__item { position: relative; padding: 15px 0; margin: 0; }

.process-log .process-log__item:last-child { border: none; padding-bottom: 0; }

.process-log .process-log__item--attr { margin-left: 4px; }

.process-log .log__changed-data .label { display: none; }

.process-log .log__changed-data .log__changed-data--field { font-weight: bold; }

.process-log .log__changed-data .log__changed-data--field:after { content: ":"; }

.process-log .log__changed-data .log__changed-data--value { margin-left: 6px; }

.process-log .log__changed-data .log__changed-data--value-old:last-child:after { color: #546E7A; content: "→"; margin-left: 4px; }

.process-log .log__changed-data .log__changed-data--value-new:before { color: #546E7A; content: "→"; margin-right: 4px; }

.process-log .log__id:before { content: "L#"; }

.process-log .log__message { border-left: 1px solid #efefef; padding-left: 8px; margin-right: 8px; }

.process-log .log__message:before { content: "»"; }

.process-log .log__message:after { content: "«"; }

.process-log .log__location-path { border-left: 1px solid #efefef; padding-left: 8px; margin-right: 8px; }

.process-log .log__type { margin-right: 6px; }

.process-log .process-log__second-line { position: relative; }

.process-log .log__expires { position: absolute; right: 0; }

.process-log .log__header { color: #546E7A; font-size: 0.7rem; margin-bottom: 10px; }

.process-log .log__header .log__id { margin-right: 10px; }

.process-log .process-log__first-line { margin-bottom: 10px; }

.process-log .process-log__second-line { color: #546E7A; font-size: 0.7rem; }

.process-log .process-log__second-line span + span { border-left: 1px solid #efefef; padding-left: 8px; margin-right: 8px; }

.process-log .process-log__second-line .log__expires { border: none; }

.process-log .process-log__raw { opacity: 0.4; margin-top: 20px; display: none; }

.process-log .is-loading { font-style: italic; }

.process-log .is-loading:after { margin-left: 4px; content: "."; -webkit-animation-name: loading; animation-name: loading; -webkit-animation-duration: .6s; animation-duration: .6s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-direction: normal; animation-direction: normal; }

.process-log #process-log-load-more { display: block; margin: 10px auto; }

@-webkit-keyframes loading { 0% { content: "…"; }
  30% { content: "⋰"; }
  60% { content: "⋮"; }
  100% { content: "⋱"; } }

@keyframes loading { 0% { content: "…"; }
  30% { content: "⋰"; }
  60% { content: "⋮"; }
  100% { content: "⋱"; } }
/*# sourceMappingURL=menu-page.css.map */